@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@font-face {
  font-family: SquarePeg;
  src: url(../fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: saman;
  src: url(../fonts/YanoneKaffeesatz-Bold.ttf);
}

@font-face {
  font-family: cursive7;
  src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: light;
  src: url(../fonts/BarlowCondensed-Light.ttf);
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

body {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  margin-right: 40px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  font-family: Oswald;
  font-size: 20px;
  margin-top: -5px;
}

.active {
  color: #b9ee50;
}

#pageName li {
  display: block;
  padding: 14px 16px;
  font-family: SquarePeg;
  font-size: 36px;
  color: white;
  margin-left: 10px;
  float: left;
  margin-top: -15px;
}

#span1 {
  font-family: SquarePeg;
  font-size: 36px;
  color: yellowgreen;
}

#separator {
  color: white;
  font-size: 40px;
  margin-top: -8px;
  padding-right: 10px;
  float: left;
  font-family: light;
}

#tagline li {
  color: white;
  font-size: 28px;
  margin-top: 8px;
  float: left;
  font-family: light;
}

li a:hover {
  color: yellowgreen;
}

#main {
  background-image: url(../images/Picsart_22-04-16_17-04-28-474.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

header {
  background-color: black;
  width: 100%;
  height: 52px;
}

#statement1 {
  font-family: saman;
  font-size: 45px;
  margin-left: 10px;
  padding-top: 20px;
  color: #b9ee50;
}

span {
  font-size: 180px;
}

#cityName {
  font-family: SquarePeg;
  font-size: 150px;
  margin-top: -40px;
  margin-left: 25px;
  color: white;
}

#statement2 {
  text-align: center;
  font-family: saman;
  font-size: 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -30px;
  margin-left: 25px;
  color: #b9ee50;
}

#statement3 {
  font-family: saman;
  font-size: 45px;
  margin-left: 170px;
  padding-top: 30px;
  color: white;
}

#statement4 {
  text-align: center;
  font-family: saman;
  font-size: 26px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
  margin-left: 175px;
  color: #b9ee50;
}

#services img {
  width: 140px;
  height: 140px;
  padding: 10px;
  margin-top: 12px;
}

#servicesName a {
  color: white;
  font-family: saman;
  font-size: 30px;
  text-decoration: none;
}

#servicesName a:hover {
  color: #b9ee50;
}

#servicesName #service1 {
  display: inline-block;
  margin-left: 20px;
}

#servicesName #service2 {
  display: inline-block;
  margin-left: 30px;
}

#servicesName #service3 {
  display: inline-block;
  margin-left: 28px;
}

#servicesName #service4 {
  display: inline-block;
  margin-left: 40px;
}

#blackRibbon {
  width: 100%;
  height: 100px;
  background-color: black;
  margin-top: -40px;
}

#blackRibbon2 {
  width: 100%;
  height: 100px;
  background-color: black;
}

#quote1 {
  color: white;
  font-size: 26px;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  font-family: Oswald;
}

#quote2 {
  color: white;
  font-size: 36px;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  font-family: Oswald;
}

#aboutUs {
  width: 100%;
  height: 500px;
  background-image: url(../images/Picsart_22-04-16_21-03-29-627.jpg);
  background-size: cover;
}

#sectionHeading {
  color: #b9ee50;
  font-size: 40px;
  float: right;
  margin-right: 380px;
  margin-top: 20px;
  font-family: Oswald;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#about {
  color: white;
  padding-top: 8px;
  width: 770px;
  text-align: center;
  float: right;
  margin-left: 600px;
  margin-right: 80px;
  font-size: 20px;
  font-family: oswald;
}

#visMisObj {
  width: 100%;
  height: 500px;
  background-image: url(../images/Picsart_22-04-17_17-16-22-234.jpg);
  background-size: cover;
}

#visMisObj img {
  width: 120px;
  height: 120px;
  margin-top: 35px;
}

#visMisObj #vis {
  margin-left: 40px;
}

#vision {
  margin-left: 170px;
  margin-top: -130px;
}

#visionHeading {
  color: yellowgreen;
  font-family: saman;
  font-size: 36px;
  margin-top: -100px;
  margin-left: 365px;
}

#visionStatement {
  color: white;
  font-family: Oswald;
  font-size: 21px;
  width: 800px;
  margin-left: 10px;
}

#visMisObj #mis {
  margin-left: 40px;
}

#mission {
  margin-left: 170px;
  margin-top: -130px;
}

#missionHeading {
  color: yellowgreen;
  font-family: saman;
  font-size: 36px;
  margin-top: -110px;
  margin-left: 360px;
}

#missionStatement {
  color: white;
  font-family: Oswald;
  font-size: 21px;
  width: 800px;
  margin-left: 10px;
}

#visMisObj #obj {
  margin-left: 40px;
}

#objective {
  margin-left: 170px;
  margin-top: -120px;
}

#objectiveHeading {
  color: yellowgreen;
  font-family: saman;
  font-size: 36px;
  margin-top: -130px;
  margin-left: 350px;
}

#objectiveStatement {
  color: white;
  font-family: Oswald;
  font-size: 21px;
  width: 800px;
  margin-left: 10px;
}

#specialFeatures {
  width: 100%;
  height: 500px;
  background-image: url(../images/Picsart_22-04-17_09-49-32-483.jpg);
  background-size: cover;
}

#sectionHeading3 {
  color: #b9ee50;
  font-size: 40px;
  float: right;
  margin-right: 450px;
  margin-top: 30px;
  font-family: Oswald;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#specialFeatures img {
  width: 120px;
  height: 120px;
}

#feature1 {
  padding-top: 110px;
  margin-left: 500px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#ft1img {
  margin-top: 0px;
}

#ft1heading {
  color: yellowgreen;
  font-family: saman;
  font-size: 28px;
  margin-left: 150px;
  margin-top: -115px;
}

#ft1description {
  width: 260px;
  margin-left: 150px;
  margin-top: -10px;
  color: white;
  font-family: saman;
  font-size: 24px;
}

#feature2 {
  padding-top: 110px;
  float: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -250px;
  margin-right: 75px;
}

#ft2img {
  margin-top: 0px;
}

#ft2heading {
  color: yellowgreen;
  font-family: saman;
  font-size: 28px;
  margin-left: 150px;
  margin-top: -118px;
}

#ft2description {
  width: 260px;
  margin-left: 150px;
  margin-top: -10px;
  color: white;
  font-family: saman;
  font-size: 24px;
}

#feature3 {
  padding-top: 80px;
  margin-left: 500px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#ft3img {
  margin-top: 0px;
}

#ft3heading {
  color: yellowgreen;
  font-family: saman;
  font-size: 28px;
  margin-left: 150px;
  margin-top: -115px;
}

#ft3description {
  width: 260px;
  margin-left: 150px;
  margin-top: -10px;
  color: white;
  font-family: saman;
  font-size: 24px;
}

#feature4 {
  padding-top: 140px;
  float: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -265px;
  margin-right: 75px;
}

#ft4img {
  margin-top: 5px;
}

#ft4heading {
  color: yellowgreen;
  font-family: saman;
  font-size: 28px;
  margin-left: 150px;
  margin-top: -108px;
}

#ft4description {
  width: 260px;
  margin-left: 150px;
  margin-top: -10px;
  color: white;
  font-family: saman;
  font-size: 24px;
}

#snowRemoval {
  width: 100%;
  height: 500px;
  background-image: url(../images/Picsart_22-04-17_12-37-00-734.jpg);
  background-size: cover;
}

#sectionHeading4 {
  color: skyblue;
  font-size: 40px;
  float: left;
  margin-left: 280px;
  margin-top: 30px;
  font-family: Oswald;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#snowRemovalDes {
  color: white;
  font-family: Oswald;
  font-size: 21px;
  text-align: center;
  padding-top: 150px;
  width: 800px;
  margin-left: 80px;
}

#weedControl {
  width: 100%;
  height: 500px;
  background-image: url(../images/Picsart_22-04-17_13-03-19-277.jpg);
  background-size: cover;
}

#sectionHeading5 {
  color: yellowgreen;
  font-size: 40px;
  float: right;
  margin-right: 210px;
  margin-top: 30px;
  font-family: Oswald;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#weedControlDes {
  color: white;
  font-family: Oswald;
  font-size: 21px;
  text-align: center;
  padding-top: 50px;
  width: 800px;
  margin-right: 140px;
  float: right;
  margin-top: -20px;
}

figure.snip1157 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 410px;
  width: 100%;
  color: #333;
  text-align: left;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}

figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 25px 50px 30px 50px;
  font-size: 19px;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-family: Oswald;
}

figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}

figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}

figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}

figure.snip1157 .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 140px;
  margin: 0;
  text-transform: uppercase;
  color: white;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

figure.snip1157 .author h5 {
  opacity: 1;
  margin: 0;
  font-weight: 800;
  font-size: 20px;
}

#testimonials {
  background-image: url(../images/Picsart_22-04-17_14-38-51-734.jpg);
  background-repeat: none;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 0;
  height: auto;
}

#sectionHeading6 {
  color: #b9ee50;
  font-size: 40px;
  margin-top: 30px;
  font-family: Oswald;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin-bottom: 30px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: large;
  font-family: 'Roboto Condensed', sans-serif;
}

input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: large;
  font-family: 'Roboto Condensed', sans-serif;
}

input[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: large;
  font-family: 'Roboto Condensed', sans-serif;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: 001A23;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: large;
  font-family: 'Roboto Condensed', sans-serif;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 60%;
  height: 550px;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: large;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.titleRibbon {
  background-color: black;
  width: 100%;
  height: 80px;
  margin: 0;
  padding-top: 15px;
}

.titleRibbon2 {
  background-color: #181129;
  width: 100%;
  height: 80px;
  margin: 0;
  padding-top: 15px;
}

#greenBar {
  background-color: yellowgreen;
  width: 100%;
  height: 7px;
}

footer {
  background-color: #1A1A1A;
  width: 100%;
  height: 170px;
  padding-left: 50px;
  padding-top: 20px;
}

#footerName {
  color: white;
  font-size: 35px;
  font-family: SquarePeg;
}

footer #footerContent {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: larger;
}

#footerbox {
  width: 40%;
  float: left;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  margin-top: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: transparent;
  border: solid 1px white;
  color: white;
}

.fa-instagram {
  background: transparent;
  border: solid 1px white;
  color: white;
}

.fa-twitter {
  background: transparent;
  border: solid 1px white;
  color: white;
}

.fa-linkedin {
  background: transparent;
  border: solid 1px white;
  color: white;
}

#pricingTable {
  background-image: url(../images/Picsart_22-04-18_11-07-55-172.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70vh;
}

.planContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan {
  background: white;
  width: 20em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin: 1em;
  margin-bottom: 1em;
}

.plan .titleContainer {
  background-color: black;
  padding: 0.7em;
}

.plan .titleContainer .title {
  font-size: 2.2em;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-family: Oswald;
}

.plan .titleContainer .price {
  font-size: 1.45em;
  padding-top: 0.7em;
  padding-bottom: 0.25em;
  color: white;
  font-weight: 500;
  margin-top: 0;
  display: inline-block;
  width: 80%;
}

.plan .titleContainer .price p {
  font-size: 1.45em;
  display: inline-block;
  margin: 0;
}

.plan .titleContainer .price span {
  font-size: 1.0875em;
  display: inline-block;
}

.plan .infoContainer {
  padding: 1em;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.plan .infoContainer .desc {
  padding: 1em 0;
  border-bottom: 2px solid black;
  margin: 0 auto;
  width: 90%;
}

.plan .infoContainer .desc em {
  font-size: 1em;
  font-weight: 500;
}

.plan .infoContainer .features {
  font-size: 1em;
  list-style: none;
  padding-left: 0;
}

.plan .infoContainer .features li {
  padding: 0.5em;
}

.plan .infoContainer .selectPlan {
  padding: 0.01em 1em;
  border-radius: 2.5em;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  margin: 1em auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 70%;
  display: block;
  font-weight: 700;
}

@media screen and (max-width: 25em) {
  .planContainer {
    margin: 0;
  }
  .planContainer .plan {
    width: 100%;
    margin: 1em 0;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  font-family: Oswald;
  margin: 0;
  font-size: 20px;
  margin-top: -17.5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#values {
  background-color: black;
  height: 300px;
  width: 100%;
  color: white;
  font-family: Oswald;
  font-size: 19px;
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */